<html>
  <head></head>
  <body>
    <form action="/getlink" method="get">
      <input type="submit" value="Add link">
    </form>
    <form action="/delete" method="get">
      <input type="submit" value="Delete link">
    </form>
    <form action="/update" method="get">
      <input type="submit" value="Update link">
    </form>
    <% if flash[:notice] == "You have submitted an invalid url" %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:notice] == "This title cannot be updated as it is not in the database" %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:notice] == "This title is not in the database" %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div>
      <ul>
        <% @links.each do |link| %>
          <li>
            <%= link.id %>
            <a href=" <%= link.url %>">
            <%= link.title %>
          </a>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
